<div class="container" style="font-family:'Times New Roman', Times, serif">
	<div class="section-header row">
      <div class="col-sm-3">
      <!--<img src=""alt="DHS-logo" >-->
      </div>
        
      <div class="col-sm-6" style="text-align: center;">
        <h3><strong>Employment Eligibility Verification</strong> </h3>
        <h3 style="text-align:center;margin-top: -0.2em;"><strong>Department of Homeland Security</strong></h3>
        <h3 style="text-align: center;margin-top: -0.3em;">U.S. Citizenship and Immigration Services</h3>
        
      </div>

      <div class="col-sm-3 " >
      <div style="text-align: right;padding-right: 2em;margin-top: -0.1em;"> 
        <h3 style="padding-right: 0.5em;"><div style="padding-right: 0.4em;"><strong>USCIS</strong></div><div style="margin-top: -2px;margin-bottom: -10px;"><strong>Form I-9</strong></div></h3>
         <div>OMB No. 1615-0047</div>
          <div style="padding-right: 0.4em;">Expires 08/31/2019</div>
        </div>
         
      </div>
    </div>
	
    <hr class="heavy" style="margin-top: -0.2em;"/>

    <form method="post" class="i9form" (ngSubmit)="onSubmit(f)" #f="ngForm" action="#" style="font-family:'Times New Roman', Times, serif; font-size: 18px;">

      <p><strong>► START HERE. <small>Read instructions carefully before
            completing this form. The instructions must be available during
            completion of this form.</small></strong><br>
      <strong>ANTI-DISCRIMINATION NOTICE:</strong> It is illegal to
        discriminate against work-authorized individuals. Employers
        <strong>CANNOT</strong> specify which document(s) they will accept from an
        employee. The refusal to hire an individual because the documentation
        presented has a future expiration date may also constitute illegal
        discrimination.</p>

      <div class="header-box container" style="border: 1px solid black; padding: .25em; background-color: #e0e0e0;width: 100%;">
        <strong>Section 1. Employee Information and Attestation</strong>
        <em>(Employees must complete and sign Section 1 of Form I-9 no later
          than the <strong>first day of employment</strong>, but not before
          accepting a job offer.)</em>
      </div>

      <div class="form-box container" style="border-right: 1px solid black;border-bottom: 1px solid black;margin-bottom: 1ex; width: 100%;">
        <div class="row">
          <div class="col-sm-8" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">

            <div class="row">
              <div class="col-sm-4">
                <label for="last-name">Last Name <em>(Family Name)</em></label>
                <input class="form-control" [(ngModel)]="lastName"   style="font-weight: bold; font-size: 14pt;" name="i9_last_name" value="   " />
              </div>

              <div class="col-sm-4">
                <label for="first-name">First Name <em>(Given Name)</em></label>
                <input class="form-control" [(ngModel)]="firstName" style="font-weight: bold; font-size: 14pt;" name="i9_first_name" value="     " />
              </div>

              <div class="col-sm-4">
                <label for="middle-initial">Middle Initial</label>
                <input class="form-control" [(ngModel)]="middleInitial" style="font-weight: bold; font-size: 14pt;" name="i9_mid_name" value="         " />
              </div>

            </div>
          </div>

          <div class="col-sm-4" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="other-names">Other Names Used <em>(if any)</em></label>
            <input class="form-control" [(ngModel)]="otherNameUsed" style="font-weight: bold; font-size: 14pt;" name="i9_other_name" value="     " />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="address">Address <em>(Street Number and Name)</em></label>
            <input class="form-control" [(ngModel)]="address" style="font-weight: bold; font-size: 14pt;" name="i9_address" value="     " />
          </div>

          <div class="col-sm-2" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="apt-number">Apt. Number</label>
            <input class="form-control" [(ngModel)]="aptNumber" style="font-weight: bold; font-size: 14pt;" name="i9_apt_no" value="       " />
          </div>

          <div class="col-sm-3" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="city-or-town">City or Town</label>
            <input class="form-control" [(ngModel)]="cityOrTown" style="font-weight: bold; font-size: 14pt;" name="i9_city" value="         " />
          </div>

          <div class="col-sm-1" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="state">State</label>
            <input class="form-control" [(ngModel)]="state" style="font-weight: bold; font-size: 14pt;" name="i9_state" value="        " />
          </div>

          <div class="col-sm-2" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="zip-code">Zip Code</label>
            <input class="form-control" [(ngModel)]="zipCode" style="font-weight: bold; font-size: 14pt;" name="i9_zip" value="" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="date-of-birth">Date of Birth <em>(mm/dd/yyyy)</em></label>
            <input type="text" [(ngModel)]="dateOfBirth" class="form-control" value="" style="font-weight: bold; font-size: 14pt;" name="i9_dateofBirth"/>
          </div>

          <div class="col-sm-3" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="ssn">U.S. Social Security Number</label>
            <input class="form-control" [(ngModel)]="securityNumber" style="font-weight: bold; font-size: 14pt;" name="i9_ssn" value="      " />
          </div>

          <div class="col-sm-4" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="email">E-mail Address</label>
            <input type="email" [(ngModel)]="email" class="form-control" style="font-weight: bold; font-size: 14pt;" name="i9_email" value="   " />
          </div>

          <div class="col-sm-2" style="border-top: 1px solid black;border-left: 1px solid black;padding-bottom: .5em;">
            <label for="telephone">Telephone Number</label>
            <input type="tel" [(ngModel)]="telephone" class="form-control"style="font-weight: bold; font-size: 14pt;" name="i9_tel" value="          " />
          </div>
        </div>
      </div>

      <p><strong>I am aware that federal law provides for imprisonment and/or fines for
          false statements or use of false documents in connection with the
          completion of this form.</strong></p>

      <p><strong>I attest, under penalty of perjury, that I am (check one of the
          following):</strong></p>

         
          
          <div class="form-box container" style="border-bottom: none;border-right: none;">

           <div class="row">
          <div class="col-sm-12" style="display:flex;border-top: 1px solid black;border-left: 1px solid black;border-right:1px solid black;margin-bottom: -1em;" >
          <input type="checkbox" ngModel name="person-status" id="citizen" value="citizen" style="display: inline; width: 1em; height: 1em;margin-right: 10px;"/>
          <label for="citizen">1.A citizen of the United States</label>
          </div>
       
     
        <div class="col-sm-12" style="display:flex;border-top: 1px solid black;border-left: 1px solid black;border-right:1px solid black;margin-bottom: -1em;">
        <input type="checkbox" ngModel name="person-status" id="noncitizen" value="noncitizen" style="display: inline; width: 1em; height: 1em;margin-right: 10px;"/>
        <label for="noncitizen">2.A noncitizen national of the United
            States</label>
          <em>(See instructions)</em>
        </div>

          <div class="col-sm-12" style="display:flex;border-top: 1px solid black;border-left: 1px solid black;border-right:1px solid black;padding-bottom: -1em;">
          <input type="checkbox" [(ngModel)]="showProp" name="person-status" id="permanent-resident" value="permanent-resident" style="display: inline; width: 1em;height:1em;margin-right: 10px;"/>
          <label for="permanent-resident">3.A lawful permanent resident</label>
          <div *ngIf="showProp" style="display: flex;"><div><label for="alien-number">(Alien Registration Number/USCIS Number):</label></div>
          <div><input class="form-control input-control" name="i9_uscis" value="        " /></div>
          </div>
          </div>
         </div>

          <div class="row" >  
          <div class="col-sm-8 "  style="border-left: 1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;">
            
          <div style="display: flex;">


          <div >
           
              <input type="checkbox" [(ngModel)]="showMe" name="person-status" ngModel  style="display: inline; width: 1em; height: 1em;margin-right: 10px;">
           

          </div>


          <div><label for="alien-authorized">4.An alien authorized to work until(expiration date, if applicable, mm/dd/yyyy): </label></div>
          <input type="text" class="form-control input-control" style="display: inline; width: auto; padding-bottom: .5em;" name="i9_expiration" value="       " /> 
        </div>
         
        
        <div  *ngIf="showMe">
          Some aliens may write "N/A" in this field. <em>(See instructions)</em>

        <p><em>For aliens authorized to work, provide your Alien Registration Number/USCIS Number <strong>OR</strong> Form I-94 Admission Number:</em></p>
        
           <div style="display: flex;">
          <label for="alien-authorized-number">1.Alien Registration Number/USCIS Number:</label>
           <input  class="form-control input-control" ngModel style="display: inline; width: auto; padding: 0 .5ex;" name="i9_uscis1" value="        " /></div>

            <strong style="text-transform: uppercase;font-size: 1em;display: block;margin-left: 20%;">or</strong>

           <div style="display: flex;">       
           <label for="i94-admission">2.Form I-94 Admission Number:</label>
            <input class="form-control input-control" ngModel style="display: inline; width: auto; padding: 0 .5ex;" name="i9_admission_no" value=" " /></div>

            <strong style="text-transform: uppercase;font-size: 1em;display: block;margin-left: 20%;">or</strong>

            <div style="display: flex;">  
            <label for="foreign-passport">3.Foreign Passport Number:</label>
            <input class="form-control input-control" ngModel style="display: inline; width: auto; padding: 0 .5ex;" name="i9_fpn" value="" /></div>
            <br>
            <div style="display: flex;margin-left:15px">  
            <label for="foreign-country">Country of Issuance:</label>
            <input class="form-control input-control" ngModel style="display: inline; width: auto; " name="i9_coi" value="" /></div>
            </div>



      </div>
        
             <div class="col-sm-4" style="border-top: 1px solid black;border-left:none;">
                   <div style="height:16.5em;width:17em;margin-top: 3em;border: 1px solid black;float: right;">
               <p style="text-align:center;"> QR Code-section-1</p>
                <p style="text-align:center;">Do Not Write in This Space</p>
                    </div>
              </div>
          </div>
      </div>
        

      <div class="form-box container" 
      style="width: 100%;
            ">
        <div class="row">
          <div class="col-sm-8" >
            <label for="signature">Signature of Employee:</label>
            <input type="" class="form-control" ngModel name="signature" value=" " />
       
	    </div>
         

          <div class="col-sm-4" >
            <label for="signature-date">Today's Date <em>(mm/dd/yyyy)</em>:</label>
            <input type="text" class="form-control" ngModel name="i9_sign_date" value=" " />
          </div>
        </div>
      </div>

      <div class="header-box container" style="border: 1px solid black; padding: .25em; background-color: #e0e0e0; width:100%; text-align: center;">
        <strong>Preparer and/or Translator Certification</strong>
        <em>(To be completed and signed if Section 1 is prepared by a person
          other than the employee.)</em>
 <div class="col-sm-4"><input type="checkbox" style="display: inline; width: 1em; height: 1em;margin-right: 10px;"><label> I did not use a preparer or translator. </label> </div> 
  <div class="col-sm-8"><input type="checkbox" style="display: inline; width: 1em; height: 1em;margin-right: 10px;"><label>A preparer(s) and/or translator(s) assisted the employee in completing Section 1.</label></div>    
<p>(Fields below must be completed and signed when preparers and/or translators assist an employee in completing Section 1.)</p>
      </div>


      <p style="text-align: center;"><strong>I attest, under penalty of perjury, that I have assisted in the
          completion of this form and that to the best of my knowledge the
          information is true and correct.</strong></p>

      <div class="form-box container" >
        <div class="row" >

          <div class="col-sm-8" >
            <label for="preparer-signature" >Signature of Preparer or
              Translator:</label>
            <input class="form-control" ngModel name="i9_first" value="         " />
          </div>

          <div class="col-sm-4">
            <label for="preparer-signature-date">Date
              <em>(mm/dd/yyyy)</em>:</label>
            <input type="text" ngModel class="form-control input-control" name="i9_sign_date1" value="  " />
          </div>
        </div>

        <div class="row" >
          <div class="col-sm-6" >
            <label for="preparer-last-name">Last Name <em>(Family Name)</em></label>
            <input class="form-control" ngModel name="i9_last_name1" value=" " />
          </div>

          <div class="col-sm-6" style="padding-bottom: .5em;">
            <label for="preparer-first-name">First Name <em>(Given Name)</em></label>
            <input class="form-control"  ngModel name="i9_first_name1" value=" " />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5" >
            <label for="preparer-address">Address <em>(Street Number and Name)</em></label>
            <input class="form-control" ngModel name="i9_address1" value=" " />
          </div>

          <div class="col-sm-4" >
            <label for="preparer-city-or-town">City or Town</label>
            <input class="form-control" ngModel name="i9_city1" value=" " />
          </div>

          <div class="col-sm-1" >
            <label for="preparer-state">State</label>
            <input class="form-control" ngModel name="i9_state1" value=" " />
          </div>

          <div class="col-sm-2">
            <label for="preparer-zip-code">Zip Code</label>
            <input class="form-control" ngModel name="i9_zip1" value=" " />
          </div>
        </div>
      </div>

      <div class="stop" style="text-align: center; margin: .5em;">
       <!--  <img src="../i9/images/stop.png" alt="Stop" style="width: 2em; height: 2em;">-->
        <div class="stop-text" style="font-size: 1.2em; padding: .2em 2em; margin: 0 .25em; 
        font-weight: bold; font-style: oblique; display: inline-block; background-color: #e0e0e0; 
        font-family: 'Times New Roman', Times, serif;">Employer Completes Next Page</div>
       <!--  <img src="../i9/images/stop.png" alt="Stop" style="width: 2em; height: 2em;">-->
      </div>
      <hr style="border: solid black;">
<!--Page-2-->
<div class="container" style="width: 100%;">
	<div class="section-header row">
<div class="col-sm-3">
  <!--  <img src="../i9/images/dhs.jpg"alt="DHS-logo">-->
  </div>
   
  <div class="col-sm-6" style="text-align: center;">
    <h3><strong>Employment Eligibility Verification</strong> </h3>
  
    <h3 style="text-align:center;"><strong> Department of Homeland Security</strong></h3>
    <h3 style="text-align: center;">U.S. Citizenship and Immigration Services</h3>
    
  </div>

  <div class="col-sm-3 " >
  <div style="text-align: right;padding-right: 2em;"> 
    <h3><strong>USCIS<br><strong>Form I-9</strong></strong></h3>
   <small> <div>OMB No. 1615-0047</div>
      <div>Expires 08/31/2019</div></small>
    </div>
     </div>
  </div>
</div>

      <hr class="heavy" style="border: solid black; border-width: 1ex 0 1px; height: .5ex; margin: 0; margin-top: 1em;"/>

      <div class="header-box" style="border: 1px solid black; padding: .25em; background-color: #e0e0e0;">
        <strong style="font-weight: 700;">Section 2. Employer or Authorized Representative Review and
          Verification</strong>
        <p><em>(Employers or their authorized representative must complete and sign Section 2 within 3 business days of the employee's first day of employment. You
          must physically examine one document from List A OR a combination of one document from List B and one document from List C as listed on the "Lists
          of Acceptable Documents.")</em></p>
      </div>

      <div class="form-box container col-sm-12" style="border: 5px solid black;width:100%;display:flex">
        
      <div class="col-sm-3" style="border-right: 2px solid black;display:flex;">
        <label ><strong>Empolyee Info Form Section</strong></label>
      </div>
      <div class="col-sm-3 " style="border-right: 2px solid black;">
        <label >Last Name(Family Name)</label>
        <input type="text" ngModel name="lastName2" style="border: none;outline: none;">
      </div>
      <div class="col-sm-3" style="border-right: 2px solid black;" >
        <label  >First Name(Give Name)</label>
        <input type="text" ngModel name="firstName2" style="border: none;outline: none;">
      </div>
      <div class="col-sm-1" style="border-right: 2px solid black;" >
        <label >M.I.</label>
        <input type="text" ngModel name="mi" style="border: none;width:50px;outline: none;">
      </div>
      <div class="col-sm-1" >
        <label  >Citizen/Immigration Status</label>
        <input type="text"  ngModel name="cis" style="border: none;outline: none;width:9em">
      </div>
      
      </div>
	  
      <table class="documents" style="background-color: transparent; border-spacing: 0; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="position: relative; border-bottom: 1px solid black; width: 33.3%; padding: .5em; font-size: .9em; text-align: center;">
              <h6 style="display: block; margin: 0; font-size: 1.2em; font-weight: bold; text-transform: uppercase;">List A</h6>
              Identity and Employment Authorization
            </th>

            <th class="or-column" style="text-transform: uppercase; width: 1.5em; padding: 0 0 .3em 0; vertical-align: bottom; background: inherit; border-bottom: 1px solid black;">or</th>

            <th style="position: relative; border-bottom: 1px solid black; width: 33.3%; padding: .5em; font-size: .9em; text-align: center;">
              <h6>List B</h6>
              Identity

              <div class="cell-corner" style="position: absolute; bottom: .3em; right: -1em; width: 2em; text-align: center; text-transform: uppercase;">and</div>
            </th>

            <th style="position: relative; border-bottom: 1px solid black; width: 33.3%; padding: .5em; font-size: .9em; text-align: center;">
              <h6>List C</h6>
              Employment Authorization
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td id="document-list-a">
              <div class="document-item" id="document-item-template">
                <div class="document-cell">
                  <label for="document-title-a[0]">Document Title:</label>
                  <input id="document-title-a[0]" ngModel name="DT" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-authority-a[0]">Issuing Authority:</label>
                  <input id="document-authority-a[0]"  ngModel name="IA" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-number-a[0]">Document Number:</label>
                  <input id="document-number-a[0]" ngModel name="DN" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-expiration-a[0]">Expiration Date
                    <em>(if any) (mm/dd/yyyy)</em></label>
                  <input id="document-expiration-a[0]" ngModel name="ED" class="form-control"/>
                </div>
              </div>

              <div class="document-item" id="document-item-template">
                <div class="document-cell">
                  <label for="document-title-a[0]">Document Title:</label>
                  <input id="document-title-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-authority-a[0]">Issuing Authority:</label>
                  <input id="document-authority-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-number-a[0]">Document Number:</label>
                  <input id="document-number-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-expiration-a[0]">Expiration Date
                    <em>(if any) (mm/dd/yyyy)</em></label>
                  
                </div>
              </div>

              <div class="document-item" id="document-item-template">
                <div class="document-cell">
                  <label for="document-title-a[0]">Document Title:</label>
                  <input id="document-title-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-authority-a[0]">Issuing Authority:</label>
                  <input id="document-authority-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-number-a[0]">Document Number:</label>
                  <input id="document-number-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-expiration-a[0]">Expiration Date
                    <em>(if any) (mm/dd/yyyy)</em></label>
                  <input id="document-expiration-a[0]" class="form-control"/>
                </div>
              </div>
            </td>

            <td class="or-column"></td>

            <td id="document-list-b">
              
              <div class="document-item" id="document-item-template">
                <div class="document-cell">
                  <label for="document-title-a[0]">Document Title:</label>
                  <input id="document-title-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-authority-a[0]">Issuing Authority:</label>
                  <input id="document-authority-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-number-a[0]">Document Number:</label>
                  <input id="document-number-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-expiration-a[0]">Expiration Date
                    <em>(if any) (mm/dd/yyyy)</em></label>
                  <input id="document-expiration-a[0]" class="form-control"/>
                </div>
              </div>

              <div style="height:20em;width:20em;border: 1px solid black;margin:20px">Additional Information
                <textarea style="height:18em;width:19em;border:none;outline: none;"></textarea>
              </div>
            </td>

            <td id="document-list-c">
              <div class="document-item" id="document-item-template">
                <div class="document-cell">
                  <label for="document-title-a[0]">Document Title:</label>
                  <input id="document-title-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-authority-a[0]">Issuing Authority:</label>
                  <input id="document-authority-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-number-a[0]">Document Number:</label>
                  <input id="document-number-a[0]" class="form-control"/>
                </div>

                <div class="document-cell">
                  <label for="document-expiration-a[0]">Expiration Date
                    <em>(if any) (mm/dd/yyyy)</em></label>
                  <input id="document-expiration-a[0]" class="form-control"/>
                </div>
              </div>
              <div style="height:15em;width:15em;border: 1px solid black;margin:20px">QR Code - Sections 2 & 3
                Do Not Write In This Space
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <h4 class="large">Certification</h4>
      <p><strong>I attest, under penalty of perjury, that (1) I have examined
          the document(s) presented by the above-named employee, (2) the
          above-listed document(s) appear to be genuine and to relate to the
          employee named, and (3) to the best of my knowledge the employee is
          authorized to work in the United States.</strong></p>

      <p><label for="first-day"><strong>The employee's first day of employment
            <em>(mm/dd/yyyy)</em>:</strong></label>
        <strong><input type="text" class="form-control input-control" name="i9_first_date" value="" style="border-bottom:1px solid black;"/>
        <em>(See instructions for exemptions.)</em></strong>
      </p>

      <div class="form-box container">
        <div class="row">
          <div class="col-sm-5">
            <label for="employer-signature">Signature of Employer or Authorized
              Representative</label>
            <input class="form-control" name="i9_name11" value="" />
          </div>

          <div class="col-sm-2">
            <label for="employer-signature-date">Date (mm/dd/yyyy):</label>
            <input type="text" class="form-control input-control" name="i9_sign_date2" value="" />
          </div>

          <div class="col-sm-5">
            <label for="employer-title">Title of Employer or Authorized
              Representative</label>
            <input class="form-control input-control" name="i9_title" value="" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <label for="employer-last-name">Last Name <em>(Family Name)</em></label>
            <input class="form-control" name="i9_last_name2" value="" />
          </div>

          <div class="col-sm-3">
            <label for="employer-first-name">First Name <em>(Given Name)</em></label>
            <input class="form-control" name="i9_first_name2" value="" />
          </div>

          <div class="col-sm-6">
            <label for="employer-business-name">Employer's Business or
              Organization Name</label>
            <input class="form-control" name="i9_org_name" value="" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label for="employer-address">Employer's Business or Organization
              Address <em>(Street Number and Name)</em></label>
            <input class="form-control" name="i9_org_address" value="" />
          </div>

          <div class="col-sm-3">
            <label for="employer-city-or-town">City or Town</label>
            <input class="form-control" name="i9_org_city" value="" />
          </div>

          <div class="col-sm-1">
            <label for="employer-state">State</label>
            <input class="form-control" name="i9_org_state" value="" />
          </div>

          <div class="col-sm-2">
            <label for="employer-zip-code">Zip Code</label>
            <input class="form-control" name="i9_org_zip" value="" />
          </div>
        </div>
      </div>

      <div class="header-box container" style="width: 89%;">
        <strong>Section 3. Reverification and Rehires</strong>
        <em>(To be completed and signed by employer or authorized
          representative.)</em>
      </div>

      <div class="form-box container">
        <div class="row">
          <div class="col-sm-8">
            <label for="new-name"><strong>A.</strong>
              New Name <em>(if applicable)</em> Last Name <em>(Family Name)</em>
              First Name <em>(Given Name) Middle Initial</em></label>
            <input class="form-control" name="i9_last_name3" value="" />
          </div>

          <div class="col-sm-4">
            <label for="rehire-date"><strong>B.</strong>
              Date of Rehire <em>(if applicable) (mm/dd/yyyy)</em></label>
            <input type="text" class="form-control" name="i9_rehire_date" value="" />
          </div>
        </div>
      </div>

      <div class="form-cell container">
        <strong>C.</strong> If employee's previous grant of employment
        authorization has expired, provide the information for the document from
        List A or List C the employee presented that establishes current
        employment authorization in the space provided below.
      </div>

      <div class="form-box container">
        <div class="row">
          <div class="col-sm-4">
            <label for="document-title">Document Title:</label>
            <input id="document-title" class="form-control" name="i9_document_title" value=""/>
          </div>

          <div class="col-sm-4">
            <label for="document-number">Document Number:</label>
            <input id="document-number" class="form-control" name="i9_document_number" value=""/>
          </div>

          <div class="col-sm-4">
            <label for="expiration-date">Expiration Date
              <em>(if any) (mm/dd/yyyy)</em></label>
            <input type="text" class="form-control" name="i9_exp_date" value="" />
          </div>
        </div>
      </div>

      <p style="margin-bottom: 0.5em; margin-left: 2em; margin-right: 2em; text-align: center;"><strong>I attest, under penalty of perjury, that to the best of my
          knowledge, this employee is authorized to work in the United States,
          and if the employee presented document(s), the document(s) I have
          examined appear to be genuine and to relate to the
          individual.</strong></p>

      <div class="form-box container">
        <div class="row">
          <div class="col-sm-5">
            <label for="employer-signature2">Signature of Employer or Authorized
              Representative:</label>
            <input class="form-control" name="i9_first_name3" value="" />
          </div>

          <div class="col-sm-2">
            <label for="employer-signature-date">Date
              <em>(mm/dd/yyyy)</em>:</label>
            <input type="text" class="form-control" name="i9_sign_date3" value="" />
          </div>

          <div class="col-sm-5">
            <label for="employer-name">Print Name of Employer or Authorized
              Representative:</label>
            <input class="form-control" name="i9_emp_name" value=" " />
          </div>
        </div>
      </div>

	  <!--Page-3-->
	  
      <hr class="heavy"/>

      <h2>LISTS OF ACCEPTABLE DOCUMENTS</h2>
      <h2>All documents must be UNEXPIRED</h2>

      <br>

      <p class="text-center">Employees may present one selection from List
        A<br>
        or a combination of one selection from List B and one selection from
        List C.</p>

	<div class="table-responsive">
		<table class="table" >
		<!--
			<table class="documents-table">
		-->


        <thead style="border: 1px solid black; border-collapse: collapse;">
          <tr >
            <th style=" border-top: 1px solid black; position: relative; border-bottom: 1px solid black; width: 33.3%; padding: .5em; text-align: center;">
              <h6 style="display: block; margin: 0; font-size: 1em; font-weight: bold; text-transform: uppercase;">List A</h6>
              Documents that Establish<br>
              Both Identity and<br>
              Employment Authorization
            </th>

            <th class="or-column"  style=" border-top: 1px solid black; border-bottom: 1px solid black; text-transform: uppercase; width: 1.5em; padding: 0 0 .3em 0; vertical-align: bottom; background-color: #c0c0c0;">or</th>

            <th  style=" border-top: 1px solid black; position: relative; border-bottom: 1px solid black; width: 33.3%; padding: .5em; text-align: center;">
              <h6 style="display: block; margin: 0; font-size: 1em; font-weight: bold; text-transform: uppercase;">List B</h6>
              Documents that Establish Identity

              <div class="cell-corner" style="position: absolute; bottom: .3em; right: -1em; width: 2em; text-align: center; text-transform: uppercase;">and</div>
            </th>

            <th  style=" border-top: 1px solid black; position: relative; border-bottom: 1px solid black; width: 33.3%; padding: .5em; text-align: center;">
              <h6 style="display: block; margin: 0; font-size: 1em; font-weight: bold; text-transform: uppercase;"> List C</h6>
              Documents that Establish Employment Authorization
            </th>
          </tr>
        </thead>

        <tbody style="border: 1px solid black; border-collapse: collapse;">
          <tr>
            <td style="border-right: 1px solid black; vertical-align: top;">
              <ol >
                <li>U.S. Passport or U.S. Passport Card</li>
                <li>Permanent Resident Card or Alien
                  Registration Receipt Card (Form I-551)</li>
                <li>Foreign passport that contains a temporary I-551 stamp
                  or temporary I-551 printed notation on a machine- readable
                  immigrant visa</li>
                <li>Employment Authorization Document that contains a
                  photograph (Form I-766)</li>

                <li>For a nonimmigrant alien authorized to work for a
                  specific employer because of his or her status:
                  <ol>
                    <li>Foreign passport; and</li>
                    <li>Form I-94 or Form I-94A that has the following:
                      <ol>
                        <li>The same name as the passport; and</li>
                        <li>An endorsement of the alien's nonimmigrant
                          status as long as that period of endorsement has
                          not yet expired and the proposed employment is not
                          in conflict with any restrictions or limitations
                          identified on the form.</li>
                      </ol>
                    </li>
                  </ol>
                </li>

                <li>Passport from the Federated States of Micronesia (FSM)
                  or the Republic of the Marshall Islands (RMI) with Form
                  I-94 or Form I-94A indicating nonimmigrant admission under
                  the Compact of Free Association Between the United States
                  and the FSM or RMI</li>
              </ol>
            </td>

            <td class="or-column" style="border-right: 1px solid black; vertical-align: top;"></td>

            <td>
              <ol>
                <li>Driver's license or ID card issued by a State or
                  outlying possession of the United States provided it
                  contains a photograph or information such as name, date of
                  birth, gender, height, eye color, and address</li>
                <li>ID card issued by federal, state or local government
                  agencies or entities, provided it contains a photograph or
                  information such as name, date of birth, gender, height,
                  eye color, and address</li>
                <li>School ID card with a photograph</li>
                <li>Voter's registration card</li>
                <li>U.S. Military card or draft record</li>
                <li>Military dependent's ID card</li>
                <li>U.S. Coast Guard Merchant Mariner Card</li>
                <li>Native American tribal document</li>
                <li>Driver's license issued by a Canadian
                  government authority</li>
                <li class="list-break-note">For persons under age 18 who are
                    unable to present a document listed above:</li>
                <li>School record or report card</li>
                <li>Clinic, doctor, or hospital record</li>
                <li>Day-care or nursery school record</li>
              </ol>
            </td>

            <td style="border-left: 1px solid black; border-right: 1px solid black; vertical-align: top;">
              <ol>
                <li>A Social Security Account Number card, unless the card
                  includes one of the following restrictions:
                  <ol class="angry-list">
                    <li>Not valid for employment</li>
                    <li>Valid for work only with INS authorization</li>
                    <li>Valid for work only with DHS authorization</li>
                  </ol>
                </li>

                <li>Certification of Birth Abroad issued by the Department
                  of State (Form FS-545)</li>
                <li>Certification of Report of Birth issued by the
                  Department of State (Form DS-1350)</li>
                <li>Original or certified copy of birth certificate issued
                  by a State, county, municipal authority, or territory of
                  the United States bearing an official seal</li>
                <li>Native American tribal document</li>
                <li>U.S. Citizen ID Card (Form I-197)</li>
                <li>Identification Card for Use of Resident Citizen in the
                  United States (Form I-179)</li>
                <li>Employment authorization document issued by the
                  Department of Homeland Security</li>
              </ol>
            </td>
          </tr>
        </tbody>
	  </table>
	</div>

      <div class="end-notes">
        <p>Examples of many of these documents appear in Part 13 of the Handbook for Employers (M-274).</p>
        <p>Refer to the instructions for more information about acceptable receipts.</p>
      </div>
      <button id="btn_mhr_save"  type="submit" class="btn btn-primary btn-block" style="width: 20%; float: right;"><strong>Save</strong></button>
    </form>

	<br />
	<br />
</div>
